#game {
 min-height: 100vh;
 min-width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: white;
}

.text {
    padding-bottom: 2rem;
    text-align: center;
    color: #10564F;
}

.row {
    display: flex;
}

.tile {
    height: 6rem;
    width:6rem;
    font-size: 3rem;
    color: #16796F; 
    background-color: #ADC9C5;
}

#winner {
    font-size: 4em;
}